<div class="row">
  <br/>
  <h4>What schedule you want to see?  </h4>
  <div class="btn-group">
    <button type="button" class="btn btn-success"
            (click)="isGroupsScheduleCollapsed = !isGroupsScheduleCollapsed">
      {{ isGroupsScheduleCollapsed ? 'Students' : 'Groups' }}
    </button>
  </div>
</div>

<br/>

<ng-template [ngIf]="!isGroupsScheduleCollapsed">
  <accordion [closeOthers]="true" *ngFor="let group of tableModel.groups">
    <accordion-group heading="Group Id: {{group.id}}" (click)="getGroupSchedule(group.id)">
      <div class="jumbotron">
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(group.id).monday" [dayName]="'Monday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(group.id).tuesday" [dayName]="'Tuesday'"></mini-schedule-table>
        </div>
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(group.id).wednesday" [dayName]="'Wednesday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(group.id).thursday" [dayName]="'Thursday'"></mini-schedule-table>
        </div>
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(group.id).friday" [dayName]="'Friday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(group.id).saturday" [dayName]="'Saturday'"></mini-schedule-table>
        </div>
      </div>
      <!--<pagination-controls id="groups" (pageChange)="page = $event" align="center"></pagination-controls>
  -->
    </accordion-group>
  </accordion>
</ng-template>

<ng-template [ngIf]="isGroupsScheduleCollapsed">
  <accordion [closeOthers]="true" *ngFor="let student of tableModel.students">
    <accordion-group heading="Student: {{student.account.firstName}} {{student.account.lastName}}" (click)="getGroupSchedule(student.group.id)">
      <div class="jumbotron">
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).monday" [dayName]="'Monday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).tuesday" [dayName]="'Tuesday'"></mini-schedule-table>
        </div>
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).wednesday" [dayName]="'Wednesday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).thursday" [dayName]="'Thursday'"></mini-schedule-table>
        </div>
        <div class="row">
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).friday" [dayName]="'Friday'"></mini-schedule-table>
          <mini-schedule-table [lessons]="professorMap.get(student.group.id).saturday" [dayName]="'Saturday'"></mini-schedule-table>
        </div>
      </div>
      <!--<pagination-controls id="groups" (pageChange)="page = $event" align="center"></pagination-controls>
  -->
    </accordion-group>
  </accordion>
</ng-template>
