<div class="tab-pane active">

  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="openModal(groupModal)">Add Group</button>
        <button type="button" class="btn btn-success" (click)="updateGroups()">Update</button>
        <button type="button" class="btn btn-success" (click)="openModal(facultyModal)">Add/Delete faculty</button>
      </div>
    </div>

    <div class="col">

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-visbility">
              {{ searchButtonName }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-visbility">
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='id'; searchButtonName=' Group Id'">Id</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='grade'; searchButtonName='Grade'">Grade</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='facultyName'; searchButtonName='Faculty Name'">Faculty
                Name</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='graduation'; searchButtonName='Graduation'">Graduation</a>
              </li>
            </ul>
          </div>

          <input [(ngModel)]="searchText" [typeahead]="groupPage.content" typeaheadOptionField="{{groupField}}"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" placeholder="Search..." (keyup)="searchTrigger()">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <table class="table table-hover" id="table">
    <thead>
    <tr>
      <th>Group ID</th>
      <th>Faculty Name</th>
      <th>Speciality</th>
      <th>Grade</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody id="tableBody"
           *ngFor="let group of groupPage.content">
    <tr>
      <td>{{ group.id }}</td>
      <td>{{ group.faculty.facultyName }}</td>
      <td>{{ group.speciality }}</td>
      <td>{{ group.grade }}</td>
      <td>{{ group.graduation | date }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteGroup(group.id)">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="openModal(groupModal, group)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pager
    [totalItems]="groupPage.totalElements"
    [(ngModel)]="groupPage.number"
    (pageChanged)="getPage($event.page)"
    pageBtnClass="btn"
    [itemsPerPage]="itemsPerPage"
    class="pull-left">
  </pager>
  <button type="button" class="btn btn-default"
          (click)="sortDirection=!sortDirection;
          getPage(groupPage.number)">{{sortDirection ? 'desc'.toUpperCase() : 'asc'.toUpperCase()}}
  </button>
</div>

<!-- Modal -->
<ng-template #groupModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit" : "Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Faculty</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableGroup.faculty">
        <option *ngFor="let faculty of tableModel.faculties" [ngValue]="faculty">{{faculty.facultyName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Speciality</label>
      <input class="form-control" name="speciality" [(ngModel)]="editableGroup.speciality" #speciality="ngModel"
             placeholder="Speciality" required/>
      <div [hidden]="speciality.valid || speciality.untouched" class="alert alert-danger">
        Please set Speciality
      </div>
    </div>

    <div class="form-group">
      <label>Grade</label>
      <input class="form-control" name="grade" [(ngModel)]="editableGroup.grade" #grade="ngModel"
             placeholder="Grade" required
             pattern="[0-9]{1}"/>
      <div [hidden]="grade.valid || grade.untouched" class="alert alert-danger">
        Please set valid Grade
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-4 form-group">
        <input class="form-control"
               placeholder="Datepicker"
               bsDatepicker [(ngModel)]="editableGroup.graduation"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               placement="right"
               #bday="ngModel">
      </div>
      <br/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addGroup()"
            [disabled]="!editableGroup.grade || !editableGroup.graduation || !editableGroup.speciality">
      {{editMode ? "Save" : "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #facultyModal>
  <div class="modal-header">
    <form>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="customRadio" name="example" value="false"
               [(ngModel)]="addFac">
        <label class="custom-control-label" for="customRadio">Create</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="customRadio2" name="example" [(ngModel)]="addFac"
               value="true">
        <label class="custom-control-label" for="customRadio2">Delete</label>
      </div>
    </form>
    <br/>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="addFac==='false'">
    <div class="form-group">
      <label>Faculty name</label>
      <input class="form-control" name="facultyName" [(ngModel)]="editableGroup.faculty.facultyName" #facName="ngModel"
             required placeholder="Faculty Name"/>
      <div [hidden]="facName.valid || facName.untouched" class="alert alert-danger">
        Please set correct Faculty name
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="addFac==='true'">
    <div class="form-group">
      <label>Faculty</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableGroup.faculty">
        <option *ngFor="let faculty of tableModel.faculties" [ngValue]="faculty">{{faculty.facultyName}}</option>
      </select>
    </div>
  </div>

  <!-- TODO: check 'addFac' for valid swap from string to boolean -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addFaculty()" *ngIf="addFac==='false'"
            [disabled]="!editableGroup.faculty.facultyName">
      Create
    </button>

    <button type="button" class="btn btn-default" (click)="deleteFaculty()" *ngIf="addFac==='true'">
      Delete
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>
