<!--<div class="mb-3">
  <pre class="card card-block card-header">Event select is fired. The heading of the selected professorField is: {{person}}</pre>
</div>-->

<!--
<ng4-loading-spinner></ng4-loading-spinner>

<tabset>
  <tab heading="Students" class="mt-2" (select)="studentComponent.updateStudentAccounts()">
    <student-tab [(tableModel)]="tableModel"></student-tab>
  </tab>

  <tab heading="Professors" class="mt-2" (select)="professorComponent.updateProfessorAccounts()">
    <professor-tab [(tableModel)]="tableModel"></professor-tab>
  </tab>

  <tab heading="Groups" class="mt-2" (select)="groupComponent.updateGroups()">
    <group [(tableModel)]="tableModel"></group>
  </tab>

</tabset>
-->

<administrator [(tableModel)]="tableModel"></administrator>
<!--<professor></professor>-->


