<accordion [closeOthers]="true" *ngFor="let lesson of currentLessons">
  <accordion-group
    heading="{{lesson.lessonTime.begin | date:'HH:mm' }}-{{lesson.lessonTime.end | date:'HH:mm' }} Lesson: {{lesson.lessonInfo.lessonName}}">
    <div class="jumbotron">
      <accordion [closeOthers]="true" *ngFor="let group of lesson.groups">
        <accordion-group heading="Group: {{group.id}}">
          <ng-template [ngIf]="attendances">
            <accordion [closeOthers]="true" *ngFor="let attendance of attendances">
              {{attendance.lesson.lessonInfo.lessonName}} - {{attendance.student.id}} - {{attendance.status}}
            </accordion>
          </ng-template>
        </accordion-group>
      </accordion>
    </div>
  </accordion-group>
</accordion>
