<ng4-loading-spinner></ng4-loading-spinner>

<tabset>
  <tab heading="Students" class="mt-2" (select)="studentComponent.updateStudents()">
    <student-tab [(tableModel)]="tableModel"
                 (loadStudents)="loadStudents.emit()"></student-tab>
  </tab>

  <tab heading="Professors" class="mt-2" (select)="professorComponent.updateProfessors()">
    <professor-tab [(tableModel)]="tableModel"
                   (loadProfessors)="loadProfessors.emit()"></professor-tab>
  </tab>

  <tab heading="Groups" class="mt-2" (select)="groupComponent.updateGroups()">
    <group-tab [(tableModel)]="tableModel"
               (loadFaculties)="loadFaculties.emit()"
               (loadGroups)="loadGroups.emit()"></group-tab>
  </tab>

  <tab heading="Schedule">
    <schedule-tab [(tableModel)]="tableModel"></schedule-tab>
  </tab>

</tabset>
