<ng4-loading-spinner></ng4-loading-spinner>

<tabset type="pills">
  <tab heading="Students" class="mt-2" (select)="studentComponent.getPage(1)">
    <br/>
    <br/>
    <br/>
    <student-tab [(tableModel)]="tableModel"></student-tab>
  </tab>

  <tab heading="Professors" class="mt-2" (select)="professorComponent.getPage(1)">
    <br/>
    <br/>
    <br/>
    <professor-tab [(tableModel)]="tableModel"
                   (loadProfessors)="loadProfessors.emit()"></professor-tab>
  </tab>

  <tab heading="Groups" class="mt-2" (select)="groupComponent.getPage(1)">
    <br/>
    <br/>
    <br/>
    <group-tab [(tableModel)]="tableModel"
               (loadFaculties)="loadFaculties.emit()"
               (loadGroups)="loadGroups.emit()"></group-tab>
  </tab>

  <tab heading="Schedule">
    <br/>
    <br/>
    <br/>
      <schedule-tab></schedule-tab>
  </tab>

  <tab heading="Lessons" (select)="lessonComponent.getPage(1)">
    <br/>
    <br/>
    <br/>
    <lesson-tab [(tableModel)]="tableModel"></lesson-tab>
  </tab>

</tabset>
