<div class="tab-pane active">

  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="openModal(groupModal)">Add Group</button>
        <button type="button" class="btn btn-success" (click)="updateGroups()">Update</button>
      </div>
    </div>

    <div class="col">

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-visbility">
              {{ searchButtonName }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-visbility">
              <li role="menuitem"><a class="dropdown-item" (click)="groupField='groupId'; searchButtonName=' Group Id'">Id</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='grade'; searchButtonName='Grade'">Grade</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='facultyName'; searchButtonName='Faculty Name'">Faculty
                Name</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="groupField='date'; searchButtonName='Date'">Birthday</a></li>
            </ul>
          </div>

          <input [(ngModel)]="searchText" [typeahead]="tableModel.groups" typeaheadOptionField="{{groupField}}"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" placeholder="Search..." (keyup)="searchTrigger()">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <table class="table table-hover" id="table">
    <thead>
    <tr>
      <th>Group ID</th>
      <th>Faculty Name</th>
      <th>Grade</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody id="tableBody"
           *ngFor="let group of tableModel.groups | filterBy: tempGroupForFilter">
    <tr>
      <td>{{ group.groupId }}</td>
      <td>{{ group.faculty.facultyName }}</td>
      <td>{{ group.grade }}</td>
      <td>{{ group.date | date }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteGroup(group.groupId)">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="openModal(groupModal, group)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<ng-template #groupModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group Id</label>
      <input class="form-control" name="groupId" [(ngModel)]="editableGroup.groupId" #groupId="ngModel" required
             pattern="[0-9]{6,11}" placeholder="Group ID №"/>
      <div [hidden]="groupId.valid || groupId.untouched" class="alert alert-danger">
        Pls set Group Id
      </div>
    </div>

    <div class="form-group">
      <label>Grade</label>
      <input class="form-control" name="grade" [(ngModel)]="editableGroup.grade" #grade="ngModel"
             placeholder="Grade" required
             pattern="[0-9]{1}"/>
      <div [hidden]="grade.valid || grade.untouched" class="alert alert-danger">
        Pls set valid Grade (1-4)
      </div>
    </div>

    <div class="form-group">
      <label>Faculty</label>
      <select class="form-control" [(ngModel)]="tempFacultyId">
        <option *ngFor="let faculty of tableModel.faculties" [value]="faculty.facultyId">{{faculty.facultyName}}
        </option>
      </select>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-4 form-group">
        <input class="form-control"
               placeholder="Datepicker"
               bsDatepicker [(ngModel)]="editableGroup.date"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               placement="right"
               #bday="ngModel">
      </div>
      <br/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addGroup()"
            [disabled]="groupId.invalid || grade.invalid || bday.invalid">
      {{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>
