<div class="tab-pane active">
  <div class="row">

    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="openModal(groupModal)">Add Group</button>
        <button type="button" class="btn btn-success" (click)="updateGroups()">Update</button>
      </div>
    </div>



  </div>
</div>

<!-- Modal -->
<ng-template #groupModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Group</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Group Id</label>
      <input class="form-control" name="groupId" [(ngModel)]="editableGroup.groupId" #groupId="ngModel" required
             pattern="[0-9]{6,11}" placeholder="Group ID №"/>
      <div [hidden]="groupId.valid || groupId.untouched" class="alert alert-danger">
        Pls set Group Id
      </div>
      {{editableGroup.groupId}}
    </div>

    <div class="form-group">
      <label>Grade</label>
      <input class="form-control" name="grade" [(ngModel)]="editableGroup.grade" #grade="ngModel"
             placeholder="Grade" required
             pattern="[0-9]{1}"/>
      <div [hidden]="grade.valid || grade.untouched" class="alert alert-danger">
        Pls set valid Grade (1-4)
      </div>
    </div>

    <div class="form-group">
      <label>Faculty</label>
    <select class="form-control" [(ngModel)]="tempFacultyId">
      <option *ngFor="let faculty of faculties" [value]="faculty.facultyId">{{faculty.facultyName}}</option>
    </select>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-4 form-group">
        <input class="form-control"
               placeholder="Datepicker"
               bsDatepicker [(ngModel)]="editableGroup.date"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               placement="right"
               #bday="ngModel">
      </div>
      <br/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addGroup()"
            [disabled]="groupId.invalid || grade.invalid || bday.invalid">
      {{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>
