<nav class="navbar navbar-expand-md bg-light navbar-light">

  <a class="navbar-brand" href="https://www.netcracker.com/">
    <h3>Netcracker ♥</h3>
  </a>

  <!-- Toggler/collapsibe Button for small screens -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- User -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <h1 *ngIf="seeTables"><span class="badge badge-info" *ngIf="seeTables">User</span>: {{ user.role }}</h1>
   <div *ngIf="!seeTables"><h1><span class="badge badge-info">Login session</span></h1></div>
  </div>

  <!-- Log out button -->
  <div class="justify-content-end" *ngIf="seeTables">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="btn btn-primary" (click)="logoutEvent()">Logout</a>
      </li>
    </ul>
  </div>


</nav>
