<div class="row">
  <div class="btn-group">
    <button type="button" class="btn btn-success" (click)="isGroupsScheduleCollapsed = !isGroupsScheduleCollapsed"
            [attr.aria-expanded]="!isGroupsScheduleCollapsed" aria-controls="groups">Groups
    </button>
    <button type="button" class="btn btn-success"
            (click)="isProfessorsScheduleCollapsed = !isProfessorsScheduleCollapsed"
            [attr.aria-expanded]="!isProfessorsScheduleCollapsed" aria-controls="professors">Professors
    </button>
  </div>
</div>

<br/>

<div [collapse]="isGroupsScheduleCollapsed" class="card card-block card-header">

  <accordion [closeOthers]="true" *ngFor="let group of tableModel.groups">
    <accordion-group heading="Group Id: {{group.id}}">
      <table class="table table-hover" id="table">
        <thead>
        <tr>
          <th>Lesson name</th>
          <th>Professor name</th>
        </tr>
        </thead>

        <tbody id="tableBody"
               *ngFor="let lesson of tableModel.lessons | filterLessonsByGroup: group">
        <tr>
          <td>{{ lesson.lessonInfo.lessonName }}</td>
          <td>{{ lesson.professor.account.firstName }} {{ lesson.professor.account.lastName }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteLesson(lesson, group)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<pagination-controls id="groups" (pageChange)="page = $event" align="center"></pagination-controls>
-->
    </accordion-group>
  </accordion>
</div>
<br/>
<br/>
<div [collapse]="isProfessorsScheduleCollapsed" class="card card-block card-header">
  <accordion [closeOthers]="true" *ngFor="let professor of tableModel.professors">
    <accordion-group heading="Professor: {{professor.account.firstName}} {{professor.account.lastName}}">
      <table class="table table-hover" id="professorTable">
        <thead>
        <tr>
          <th>Lesson name</th>
          <th>Groups</th>
        </tr>
        </thead>

        <tbody id="professorTableBody"
               *ngFor="let lesson of tableModel.lessons | filterLessonsByProfessor: professor">
        <tr>
          <td>{{ lesson.lessonInfo.lessonName }}</td>
          <td>{{ (lesson.groups | toArray: lesson.groups).join(', ') }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteLesson(lesson)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>
</div>


<!-- Modal -->
<ng-template #lessonModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Professor UserAccount</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Lesson</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableLesson.lessonInfo">
        <option *ngFor="let lessonInfo of tableModel.lessonInfos" [ngValue]="lessonInfo">{{lessonInfo.lessonName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Professor</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableLesson.professor">
        <option *ngFor="let professor of tableModel.professors" [ngValue]="professor">{{professor.account.lastName}} {{professor.account.firstName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Time</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableLesson.lessonTime">
        <option *ngFor="let time of tableModel.lessonTimes" [ngValue]="time">{{time.begin | date:'HH:mm'}} - {{time.end | date:'HH:mm'}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Room</label>
      <input class="form-control" name="grade" [(ngModel)]="editableLesson.lessonRoom" #room="ngModel"
             placeholder="Room" required/>
      <div [hidden]="room.untouched || room.invalid" class="alert alert-danger">
        Please set valid Room
      </div>
    </div>

    <div class="form-group">
      <label>Day</label>
      <select class="form-control" [compareWith]="compareFn" [(ngModel)]="editableLesson.day">
        <option *ngFor="let day of tableModel.studyDays" [ngValue]="day">{{day.dayName}}
        </option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            [disabled]="room.invalid" (click)="saveLesson()">
      {{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>
