<div class="row">
  <div class="btn-group">
    <button type="button" class="btn btn-success" (click)="isGroupsScheduleCollapsed = !isGroupsScheduleCollapsed"
            [attr.aria-expanded]="!isGroupsScheduleCollapsed" aria-controls="groups">Groups
    </button>
    <button type="button" class="btn btn-success"
            (click)="isProfessorsScheduleCollapsed = !isProfessorsScheduleCollapsed"
            [attr.aria-expanded]="!isProfessorsScheduleCollapsed" aria-controls="professors">Professors
    </button>
  </div>
</div>

<br/>

<div [collapse]="isGroupsScheduleCollapsed" class="card card-block card-header">

  <accordion [closeOthers]="true" *ngFor="let group of tableModel.groups">
    <accordion-group heading="Group: {{group.id}}">
      <table class="table table-hover" id="table">
        <thead>
        <tr>
          <th>Lesson name</th>
          <th>Professor name</th>
        </tr>
        </thead>

        <tbody id="tableBody"
               *ngFor="let lesson of tableModel.lessons | filterLessonsByGroup: group">
        <tr>
          <td>{{ lesson.lessonInfo.lessonName }}</td>
          <td>{{ lesson.professor.account.firstName }} {{ lesson.professor.account.lastName }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteLesson(lesson, group)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<pagination-controls id="groups" (pageChange)="page = $event" align="center"></pagination-controls>
-->
    </accordion-group>
  </accordion>
</div>
<br/>
<br/>
<div [collapse]="isProfessorsScheduleCollapsed" class="card card-block card-header">
  <accordion [closeOthers]="true" *ngFor="let professor of tableModel.professors">
    <accordion-group heading="Professor: {{professor.account.firstName}} {{professor.account.lastName}}">
      <table class="table table-hover" id="professorTable">
        <thead>
        <tr>
          <th>Lesson name</th>
          <th>Groups</th>
        </tr>
        </thead>

        <tbody id="professorTableBody"
               *ngFor="let lesson of tableModel.lessons | filterLessonsByProfessor: professor">
        <tr>
          <td>{{ lesson.lessonInfo.lessonName }}</td>
          <td>{{ (lesson.groups | toArray: lesson.groups).join(', ') }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteLesson(lesson)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>
</div>
