<div class="tab-pane active">
  <div class="row">

    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="openModal(professorModal)">Add Professor</button>
        <button type="button" class="btn btn-success" (click)="updateProfessorAccounts()">Update</button>
      </div>
    </div>

    <div class="col">

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-visbility">
              {{ searchButtonName }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-visbility">
              <li role="menuitem"><a class="dropdown-item" (click)="professorField='id'; searchButtonName='Id'">Id</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='firstName'; searchButtonName='First Name'">First Name</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='lastName'; searchButtonName='Last Name'">Last
                Name</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='birthday'; searchButtonName='Birthday'">Birthday</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='address'; searchButtonName='Address'">Address</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='email'; searchButtonName='E-mail'">E-mail</a></li>
            </ul>
          </div>

          <input [(ngModel)]="searchText" [typeahead]="tableModel.professors" typeaheadOptionField="{{professorField}}"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" placeholder="Search..." (keyup)="searchTrigger()">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <table class="table table-hover" id="table">
    <thead>
    <tr>
      <th>Professor ID</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>E-mail</th>
      <th>Birthday</th>
      <th>Address</th>
    </tr>
    </thead>

    <tbody id="tableBody"
           *ngFor="let professor of tableModel.professors | filterBy: tempProfessorForFilter">
    <tr>
      <td>{{ professor.professorId }}</td>
      <td>{{ professor.firstName }}</td>
      <td>{{ professor.lastName }}</td>
      <td>{{ professor.email }}</td>
      <td>{{ professor.birthday | date }}</td>
      <td>{{ professor.address }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteProfessorAccount(professor.professorId.toString())">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="openModal(professorModal, professor)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<ng-template #professorModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Professor Account</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" name="firstName" [(ngModel)]="editableProfessor.firstName" #firstName="ngModel"
             placeholder="First Name" required/>
      <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
        Pls set First Name
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" name="lastName" [(ngModel)]="editableProfessor.lastName" #lastName="ngModel"
             placeholder="Last Name" required/>
      <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
        Pls set Last Name
      </div>
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" name="email" [(ngModel)]="editableProfessor.email" #email="ngModel" required
             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail"/>
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        E-mail is incorrect
      </div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control" name="address" [(ngModel)]="editableProfessor.address" #address="ngModel" required
             placeholder="Address"/>
      <div [hidden]="address.valid || address.untouched" class="alert alert-danger">
        Pls set Address
      </div>
    </div>

    <div class="form-group">
      <label>Birthday</label>
      <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-4 form-group">
          <input class="form-control"
                 placeholder="Datepicker"
                 bsDatepicker [(ngModel)]="editableProfessor.birthday"
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 placement="right"
                 #bday="ngModel">
        </div>
        <br/>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addProfessorAccount()"
            [disabled]="firstName.invalid || lastName.invalid || email.invalid || address.invalid || bday.invalid">
      {{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>

