<ng4-loading-spinner></ng4-loading-spinner>

<tabset type="pills">
  <tab heading="Profile" class="mt-2">
    <br/>
    <br/>
    <br/>
    <professor-profile [professor]="professor"></professor-profile>
  </tab>

  <tab heading="Group/Student lessons" class="mt-2">
    <br/>
    <br/>
    <br/>
    <ng-template [ngIf]="tableModel.groups && tableModel.students">
      <professor-group-schedule [(tableModel)]="tableModel"></professor-group-schedule>
    </ng-template>
  </tab>

  <tab heading="Groups Information" class="mt-2">
    <br/>
    <br/>
    <br/>
    <professor-group-info></professor-group-info>
  </tab>

  <tab heading="Attendance" class="mt-2">
    <br/>
    <br/>
    <br/>
    <professor-attendance></professor-attendance>
  </tab>

</tabset>
