<accordion [closeOthers]="true" *ngFor="let professor of professorPage.content">
  <accordion-group heading="{{professor.account.firstName}} {{professor.account.lastName}}"
                   (click)="getProfessorSchedule(professor.id)">
    <div class="jumbotron">
      <div class="row">
        <mini-schedule-table [lessons]="studentMap.get(professor.id).monday" [dayName]="'Monday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="studentMap.get(professor.id).tuesday"
                             [dayName]="'Tuesday'"></mini-schedule-table>
      </div>
      <div class="row">
        <mini-schedule-table [lessons]="studentMap.get(professor.id).wednesday"
                             [dayName]="'Wednesday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="studentMap.get(professor.id).thursday"
                             [dayName]="'Thursday'"></mini-schedule-table>
      </div>
      <div class="row">
        <mini-schedule-table [lessons]="studentMap.get(professor.id).friday" [dayName]="'Friday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="studentMap.get(professor.id).saturday"
                             [dayName]="'Saturday'"></mini-schedule-table>
      </div>
    </div>
    <!--<pagination-controls id="groups" (pageChange)="page = $event" align="center"></pagination-controls>
-->
  </accordion-group>
</accordion>

<div class="row">
  <div *ngIf="professorPage.totalPages != 1">
    <div class="justify-content-start">
      <button type="button" class="btn btn-default"
              (click)="sortDirection=!sortDirection;
          getPage(professorPage.number)">{{sortDirection ? 'desc'.toUpperCase() : 'asc'.toUpperCase()}}
      </button>
    </div>
    <div class="justify-content-center">
      <pager
        [totalItems]="professorPage.totalElements"
        [(ngModel)]="professorPage.number"
        (pageChanged)="getPage($event.page)"
        pageBtnClass="btn"
        [itemsPerPage]="itemsPerPage"
        class="pull-left">
      </pager>
    </div>
  </div>
  <div class="justify-content-end">
    <h6>Items per page: </h6>
  </div>
  <div class="justify-content-end">
    <input class="form-control" name="firstName" [(ngModel)]="itemsPerPage" #num="ngModel"
           pattern="^[1-9][0-9]?$" placeholder="Number of rows on page" required/>
    <div [hidden]="num.valid || num.untouched" class="alert alert-danger">
      Please set correct number - [1, 99]
    </div>
  </div>
  <div class="justify-content-end">
    <button type="button" class="btn btn-default" [disabled]="num.invalid"
            (click)="getPage(professorPage.number)">Save
    </button>
  </div>
</div>

