<div class="tab-pane active">
  <div class="row">

    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="openModal(professorModal)">Add Professor</button>
        <button type="button" class="btn btn-success" (click)="updateProfessors()">Update</button>
      </div>
    </div>

    <div class="col">

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-visbility">
              {{ searchButtonName }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-visbility">
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='firstName'; searchButtonName='First Name'">First Name</a>
              </li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='lastName'; searchButtonName='Last Name'">Last Name</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="professorField='birthday'; searchButtonName='Birthday'">Birthday</a></li>
            </ul>
          </div>

          <input [(ngModel)]="searchText" [typeahead]="professorPage.content" typeaheadOptionField="{{professorField}}"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" placeholder="Search..." (keyup)="searchTrigger()">
        </div>
      </div>
    </div>
  </div>

  <br/>

  <table class="table table-hover" id="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Academic Rank</th>
      <th>Field of Research</th>
    </tr>
    </thead>

    <tbody id="tableBody"
           *ngFor="let professor of professorPage.content">
    <tr>
      <td>{{ professor.account.firstName }}</td>
      <td>{{ professor.account.lastName }}</td>
      <td>{{ professor.account.birthday | date }}</td>
      <td>{{ professor.academicRank }}</td>
      <td>{{ professor.fieldOfResearch }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteProfessorAccount(professor)">
          Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="openModal(professorModal, professor)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>

  <pager
    [totalItems]="professorPage.totalElements"
    [(ngModel)]="professorPage.number"
    (pageChanged)="getPage($event.page)"
    pageBtnClass="btn"
    [itemsPerPage]="itemsPerPage"
    class="pull-left">
  </pager>
  <button type="button" class="btn btn-default"
          (click)="sortDirection=!sortDirection;
          getPage(professorPage.number)">{{sortDirection ? 'desc'.toUpperCase() : 'asc'.toUpperCase()}}
  </button>
</div>

<!-- Modal -->
<ng-template #professorModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Professor UserAccount</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" name="firstName" [(ngModel)]="editableProfessor.account.firstName" #firstName="ngModel"
             placeholder="First Name" required/>
      <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
        Please set First Name
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" name="lastName" [(ngModel)]="editableProfessor.account.lastName" #lastName="ngModel"
             placeholder="Last Name" required/>
      <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
        Please set Last Name
      </div>
    </div>

    <div class="form-group">
      <label>Login</label>
      <input class="form-control" name="log" [(ngModel)]="editableProfessor.account.login" #log="ngModel" required
             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail"/>
      <div [hidden]="log.valid || log.untouched" class="alert alert-danger">
        Login is incorrect
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" name="pass" [(ngModel)]="editableProfessor.account.password" #pass="ngModel" required
             placeholder="Password"/>
      <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger">
        Please set password
      </div>
    </div>

    <div class="form-group">
      <label>Academic Rank</label>
      <input class="form-control" name="academicRank" [(ngModel)]="editableProfessor.academicRank" #academicRank="ngModel"
             placeholder="Academic Rank" required/>
      <div [hidden]="academicRank.valid || academicRank.untouched" class="alert alert-danger">
        Please set Academic Rank
      </div>
    </div>

    <div class="form-group">
      <label>Field of Research</label>
      <input class="form-control" name="research" [(ngModel)]="editableProfessor.fieldOfResearch" #research="ngModel"
             placeholder="Field of Research" required/>
      <div [hidden]="research.valid || research.untouched" class="alert alert-danger">
        Please set Field of Research
      </div>
    </div>

    <div class="form-group">
      <label>Birthday</label>
      <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-4 form-group">
          <input class="form-control"
                 placeholder="Datepicker"
                 bsDatepicker [(ngModel)]="editableProfessor.account.birthday"
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 placement="right"
                 #bday="ngModel">
        </div>
        <br/>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addProfessorAccount()"
            [disabled]="firstName.invalid || academicRank.invalid || research.invalid || lastName.invalid || log.invalid || pass.invalid || bday.invalid || !editableProfessor.account.birthday">
      {{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>


