<div class="row">

  <div class="col-sm-3">
    <div class="card border-success">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Alexandr Rogovoy <span class="badge badge-pill badge-info">Professor</span></h4>
        <p class="card-text"><code>Grade</code>: 2</p>
        <p class="card-text"><code>Institution</code>: BSUIR</p>
        <p class="card-text"><code>Date of birth</code>: 2000.06.30</p>
        <p class="card-text"><code>Until</code>: 2021.06.30</p>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="jumbotron">
      <p>Schedule implementation in calendar style</p>
    </div>
  </div>

</div>
