<div class="row">

<ng-template [ngIf]="professor">
  <div class="col-sm-3">
  <div class="card border-success">
    <div class="card-body">
      <h4 class="card-title">{{professor.account.firstName}} {{professor.account.lastName}} <span class="badge badge-pill badge-info">Professor</span></h4>
      <p class="card-text"><code>Date of birth</code>: {{professor.account.birthday | date}}</p>
      <p class="card-text"><code>Academic rank</code>: {{professor.academicRank}}</p>
      <p class="card-text"><code>Field of research</code>: {{professor.fieldOfResearch}}</p>
      <p class="card-text"><code>Lessons</code>: {{professorLessons.join(', ')}}</p>
      <p class="card-text">
        <button type="button" class="btn btn-success" (click)="openModal(professorModal)">Change password</button>
      </p>
    </div>
  </div>
</div>
</ng-template>

  <div class="col-sm-9">
    <div class="jumbotron">
      <div class="row">
        <mini-schedule-table [lessons]="days.monday" [dayName]="'Monday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="days.tuesday" [dayName]="'Tuesday'"></mini-schedule-table>
      </div>
      <div class="row">
        <mini-schedule-table [lessons]="days.wednesday" [dayName]="'Wednesday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="days.thursday" [dayName]="'Thursday'"></mini-schedule-table>
      </div>
      <div class="row">
        <mini-schedule-table [lessons]="days.friday" [dayName]="'Friday'"></mini-schedule-table>
        <mini-schedule-table [lessons]="days.saturday" [dayName]="'Saturday'"></mini-schedule-table>
      </div>
    </div>
  </div>

</div>

<ng-template #professorModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Change password</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Current password</label>
      <input class="form-control" name="pass" [(ngModel)]="currentPassword" #pass="ngModel" required
             pattern="[a-zA-Z0-9]{7,255}" type="password" placeholder="Password"/>
      <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger">
        Please set correct current password
      </div>
    </div>

    <div class="form-group">
      <label>New password</label>
      <input class="form-control" name="pass" [(ngModel)]="password" #cpass="ngModel" required
             pattern="[a-zA-Z0-9]{7,255}" type="password" placeholder="Password"/>
      <div [hidden]="cpass.valid || cpass.untouched" class="alert alert-danger">
        Please set correct new password
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <alert type="warning" *ngIf="wrongPassword">
      <strong>Warning!</strong> Current passwords doesn't match.
    </alert>
    <button type="button" class="btn btn-default" (click)="changePass()"
            [disabled]="cpass.invalid || pass.invalid">
      Save
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>
