<div class="row">

<ng-template [ngIf]="professor">
  <div class="col-sm-3">
  <div class="card border-success">
    <div class="card-body">
      <h4 class="card-title">{{professor.account.firstName}} {{professor.account.lastName}} <span class="badge badge-pill badge-info">Professor</span></h4>
      <p class="card-text"><code>Date of birth</code>: {{professor.account.birthday | date}}</p>
      <p class="card-text"><code>Academic rank</code>: {{professor.academicRank}}</p>
      <p class="card-text"><code>Field of research</code>: {{professor.fieldOfResearch}}</p>
    </div>
  </div>
</div>
</ng-template>

  <div class="col-sm-9">
    <div class="jumbotron">
      <div class="row">
        <div class="jumbotron">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Time</th>
              <th>Lesson</th>
              <th>Room</th>
            </tr>
            </thead>
            <tbody *ngFor="let lesson of days.monday">
            <tr>
              <td>{{lesson.lessonTime.begin}}-{{lesson.lessonTime.begin}}</td>
              <td>{{lesson.lessonInfo.lessonName}}</td>
              <td>{{lesson.lessonRoom}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>

</div>
